*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.dta
*.code-workspace
*.synctex.gz

*.gdoc
*.db
*.ini
*.Rproj

desktop.ini
*.ini
**/desktop.ini

.tmp.drivedownload
**/.tmp.drivedownload
.tmp.driveupload
**/.tmp.driveupload


**/ss201_ay231_l1_cache
**/ss201_ay231_l1_files
**/ss201_ay231_l2_cache
**/ss201_ay231_l2_files
**/ss201_ay231_l3_cache
**/ss201_ay231_l3_files
**/ss201_ay231_l4_cache
**/ss201_ay231_l4_files
**/ss201_ay231_l5_cache
**/ss201_ay231_l5_files
**/ss201_ay231_l6_cache
**/ss201_ay231_l6_files
**/ss201_ay231_l7_cache
**/ss201_ay231_l7_files

.Rproj.user

**/**/sample
