*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.dta
*.code-workspace
*.synctex.gz

*.gdoc
*.db
*.ini
*.Rproj

desktop.ini
*.ini
**/desktop.ini

.tmp.drivedownload
**/.tmp.drivedownload
.tmp.driveupload
**/.tmp.driveupload


**/_cache??
**/_files??

.Rproj.user

**/**/sample
